.global_container {
  position: relative;
  font-size: 1.6rem;
}

.menu {
  position: fixed;
  background: #425844;
  width: 8rem;
  height: 100%;

  .burger_container {
    display: grid;
    width: 100%;
    display: inline-block;
    align-content: center;
    padding: 2.6rem 1.4rem;
  }
}

.burger {
  position: relative;

  &,
  &::before,
  &::after {
    content: "";
    display: inline-block;
    height: 0.2rem;
    background: white;
    width: 5rem;
  }

  &::before,
  &::after {
    position: absolute;
  }

  &::before {
    top: 1rem;
  }

  &::after {
    top: -1rem;
  }
}

.main_container {
  width: calc(100% - 8rem);
  height: 100vh;
  margin-left: 8rem;
}